@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  overflow: auto;
}

.active {
  background-color: #0369a1;
  color: white;
}

#questionInput,
#answerInput {
  width: 90%;
  max-width: 500px;
}
.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.question-text {
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-container {
  display: flex;
  gap: 10px;
}
