<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %} - Empower Your Educational Experience
    </title>
    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="flex flex-col h-screen bg-gray-100 text-gray-900 font-sans">
    <header class="bg-sky-600 shadow-md">
      <nav class="flex justify-between items-center p-4 text-white">
        <a class="text-xl font-bold" href="{{ url_for('home') }}"
          >TigerEngage</a
        >
        <div>
          <!-- Dynamic block for the student's name or default content -->
          {% block navbar %}
          <a
            href="{{ url_for('student_dashboard') }}"
            class="ml-4 hover:underline"
            >Dashboard</a
          >
          {% endblock %}
        </div>
      </nav>
    </header>

    <main class="flex-1 overflow-auto {{ main_classes | default('') }}">
      {% block content %} {% endblock %}
    </main>

    <footer class="py-4 bg-sky-600 text-white w-full mt-auto">
      <p class="text-sm text-center">
        TigerEngage &copy; Your Gateway to Enhanced Learning
      </p>
    </footer>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/dashboard-interactions.js') }}"></script>
    {% endblock %}
  </body>
</html>
