<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Chat Interface with Send Button</title>
		
		<link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script> 

	</head>

	<body class="chat-page"> <!--class="chat-page"-->
		<div class="chatbox"> <!--class="chatbox"-->
			<h1 class="chatbox-header">Live Chat</h1>
			<div class="chatbox-wrapper">
				<div class="messages" id="messages"></div>

				<div class="message-input-area">
					<input id="message" class="message-text" placeholder="Type your message..." type="text"/>

					<button class="sendMsgBtn" id="sendBtn" onclick="sendMessage()">
						Send
					</button>
				</div> 
			</div>
		</div>

		<script>
			const messages = document.getElementById("messages");

			function sendMessage() {
				const messagedata = document.getElementById('message');
				if (messagedata.value == "") return;
				const time = new Date()
				const content = `
					<div class="sent-message">
						<span class="message-data">${messagedata.value}</span>
						<span class="message-data">${time.getHours()}:${time.getMinutes()}}</span>
					</div>
					`;
				messages.innerHTML += content;
				socketio.emit("message", {message: messagedata.value});
				message.value = "";
			}
	
			function createMessage(other_user_msg, time_sent) {
				const content = `
					<div class="received-message">
						<span class="message-data">${other_user_msg}</span>
						<span class="message-data">${time_sent}}</span>
					</div>
					`;
				messages.innerHTML += content;
			};
	
			socketio.on("message", (message) => {
				createMessage(message.message);
			});

		</script>
	</body>
</html>
