<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Summary</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> 
</head>
<body>
    <div class="container mx-auto px-4">
        <div class="bg-sky-600 text-white p-4 rounded-lg shadow-md my-6">
            <h2 class="text-xl font-bold">Question:</h2>
            <p class="text-sm">{{ question_content }}</p>
        </div>

        <div class="bg-sky-600 text-white p-4 rounded-lg shadow-md my-6">
            <h3 class="text-lg font-bold">Answers Summary:</h3>
            <p class="text-sm">{{ answers_summary }}</p>
        </div>

        <div class="flex flex-wrap -mx-2">
            <div class="w-full md:w-1/2 px-2">
                <div class="bg-green-700 text-white p-4 rounded-lg shadow-md my-6">
                    <h3 class="text-lg font-bold">Correct Answer:</h3>
                    <p class="text-sm">{{ correct_answer }}</p>
                </div>
            </div>
            
            <div class="w-full md:w-1/2 px-2">
                <div class="bg-green-900 text-white p-4 rounded-lg shadow-md my-6">
                    <h3 class="text-lg font-bold">Your Answer:</h3>
                    <p class="text-sm">{{ user_answer }}</p>
                </div>
            </div>
        </div>

        <div class="text-center my-6">
            <button
                id="learnMoreBtn"
                class="bg-purple-800 hover:bg-purple-900 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out"
                onclick="toggleMoreInfo()">Learn More</button>
        </div>

        <div
            id="moreInfoContent"
            class="bg-purple-500 text-white p-4 rounded-lg shadow-lg my-6"
            style="display: none;">
            <p class="text-sm">
               {{ notes }}
            </p>
        </div>
    </div>
    
</body>
</html>
