{% extends "base.html" %}

{% block title %}
TigerEngage - Empower Your Educational Experience
{% endblock %}

{% block navbar %}
  
{% endblock %}

{% block content %}
<div class="text-center py-64 bg-white">
  <a
    href="{{ url_for('role_selection') }}"
    class="get-started-button bg-sky-600 hover:bg-sky-950 text-white font-bold py-2 px-4 rounded transition duration-300"
    > > Get Started</a
  >
</div>

<div class="container mx-auto px-6 text-center">
  <div class="flex flex-wrap justify-center gap-4">
    <div class="w-full sm:w-1/2 md:w-1/4 p-4">
      <div
        class="bg-sky-600 rounded shadow-lg p-6 hover:bg-sky-900 hover:text-white transition duration-300"
      >
        <h5 class="text-sm font-semibold text-white mb-2">Live Chat</h5>
        <p class="text-sm text-white">
          Facilitate real-time discussions between students and instructors.
        </p>
      </div>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/4 p-4">
      <div
        class="bg-sky-600 rounded shadow-lg p-6 hover:bg-sky-900 hover:text-white transition duration-300"
      >
        <h5 class="text-sm font-semibold text-white mb-2">Attendance Tracking</h5>
        <p class="text-sm text-white">
          Automate attendance with easy check-ins and tracking.
        </p>
      </div>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/4 p-4">
      <div
        class="bg-sky-600 rounded shadow-lg p-6 hover:bg-sky-900 hover:text-white transition duration-300"
      >
        <h5 class="text-sm font-semibold text-white mb-2">Summarization Tools</h5>
        <p class="text-sm text-white">
          Get concise summaries of class discussions and materials.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
