<div class="flex flex-col items-center justify-center h-full pt-20">
  <div class="w-full max-w-4xl px-4">
    <h3 class="text-sky-600 text-lg font-bold mb-4 text-left">
      Your Question:
    </h3>
    <form id="answer-form" class="w-full">
      <textarea
        id="student-answer"
        name="student-answer"
        rows="12"
        class="w-full p-3 mb-4 text-gray-800 border rounded-md focus:ring-sky-500 border-sky-600 focus:border-sky-500 shadow-xl"
        placeholder="Your answer here..."
      ></textarea>

      <div class="flex justify-start">
        <button
          type="submit"
          class="bg-sky-600 hover:bg-sky-700 text-white font-bold py-2 px-6 rounded-md transition duration-300 ease-in-out"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
