{% extends "base.html" %} {% block title %}Select Your Role - TigerEngage{%
endblock %} {% block content %}
<div class="text-center py-64">
  <div class="flex justify-center gap-4">
    <button
      onclick="selectRole('student')"
      class="role-button bg-sky-600 hover:bg-sky-700 text-white font-bold py-3 px-6 rounded transition duration-300"
    >
      Student
    </button>
    <button
      onclick="selectRole('professor')"
      class="role-button bg-sky-600 hover:bg-sky-700 text-white font-bold py-3 px-6 rounded transition duration-300"
    >
      Professor
    </button>
  </div>
</div>

<script>
  const csrfToken = document
    .querySelector('meta[name="csrf-token"]')
    .getAttribute("content");

  function selectRole(role) {
    console.log(role);
    fetch("/select_role", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": csrfToken,
      },
      credentials: "include",
      body: JSON.stringify({ role: role }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success && data.redirectUrl) {
          window.location.href = data.redirectUrl;
        } else {
          alert("Error selecting role or no redirection URL provided");
        }
      })
      .catch((error) => console.error("Error:", error));
  }
</script>

{% endblock %}
