{% extends "base.html" %} {% block title %} {{ student_name }}'s Dashboard {%
endblock %} {% block navbar %}
<div class="ml-4 hover:underline">
  <a href="{{ url_for('student_dashboard') }}"> {{ student_name }}'s Dashboard</a>
</div>
{% endblock %} {% block content %}
<div class="container mt-2 mx-auto py-6">
  <div class="mb-6">
    <input
      type="text"
      id="class-search"
      placeholder="Search for classes..."
      class="w-full max-w-xl border-2 border-blue-500 rounded-md p-2 shadow-md"
    />
    <div id="search-results" class="mt-2"></div>
  </div>

  <div
    id="enrolled-classes"
    class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4"
  ></div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script src="{{ url_for('static', filename='js/student-dashboard.js') }}"></script>
{% endblock %}
